* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.appContainer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
}

.worksheetContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 5;
  padding: 10px;
}